.carouselItem {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 20.5rem;
    height: 32rem;
    margin: 15px 15px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(135deg, #7e94bc 0%, #2a5298 100%); /* Adding a gradient background */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
    }
  
    .product--image {
      width: 100%;
      height: 50%;
      cursor: pointer;
      object-fit: cover;
      border-bottom: 1px solid #e0e0e0;
    }
  
    .carousel-desc {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f5f5f5; /* Lighten text color for contrast */
      margin: 1rem 1.5rem;
      height: 4rem; /* Set height for consistency across items */
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      //-webkit-line-clamp: 2; /* Limit description to 2 lines */
      -webkit-box-orient: vertical;
    }
  
    .price {
      color: #1b1919b2; /* Bright yellow for price to make it stand out */
      font-size: 1.6rem;
      margin: 0.5rem 0;
      font-weight: bold;
      display: block;
    }
  
    span.product-title {
      display: block;
      color: #ffeb3b; /* Use a lighter yellow for the product title */
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
  
    button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #3b4e5b;
      text-align: center;
      cursor: pointer;
      width: 90%;
      font-size: 1.2rem;
      border-radius: 5px;
      margin: 1rem auto;
      transition: background-color 0.3s ease, opacity 0.3s ease;
  
      &:hover {
        background-color: #2980b9;
        opacity: 0.85;
      }
    }
  }
  
  @media (max-width: 768px) {
    .carouselItem {
      width: 18rem;
      height: auto;
    }
  
    .product--image {
      height: 55%;
    }
  
    .carousel-desc {
      font-size: 1.3rem;
      margin: 0.5rem 1rem;
    }
  
    .price {
      font-size: 1.5rem;
    }
  
    button {
      font-size: 1.1rem;
    }
  }
  